@import url(../js/lib/Cesium/Widgets/widgets.css);
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-image:url(../img/bg.jpg);
	background-size:cover;
	font-family: sans-serif;
}
#map{
}
#glow{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  width:100%;
  pointer-events:none;
	-webkit-filter: 
    contrast(0) 
    saturate(0) 
    brightness(1000%) 
    drop-shadow(0px 0px 6px rgb(255,255,255)) 
    drop-shadow(0px 0px 3px rgb(255,255,255)) 
    drop-shadow(0px 0px 3px rgb(255,255,255)) 
    drop-shadow(0px 0px 3px rgb(255,255,255))   
    drop-shadow(0px 0px 10px rgb(190,245,245))  
    drop-shadow(0px 0px 15px rgba(245,245,190,0.75))
    drop-shadow(0px 0px 40px rgba(245,245,190,0.5));
}
#content{
	background-image:url(../img/content.jpg);
	background-size:cover;
	opacity:0;
}
#clouds, .cloud, #overlay, #content, video, svg{
	pointer-events:none;
}
.container,#cesiumContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
video{
	position:absolute;
	z-index:2;
}
.dg.ac{
	z-index:3;
}
video.StretchtoFit{ width: 100%; /* Important: No Height attribute is being specified */ }
#overlay{
	z-index:1;
}
.point{
	height:10px;
	width:10px;
	position:absolute;
	display:block;
	background:#000;
	border:4px solid white;
	border-radius:20px;
}
.point:before{
	content:'';
	display:block;
	height:18px;
	width:18px;
	top:-7px;
	left:-7px;
	position:absolute;
	border:3px solid #000;
	border-radius:18px;
}
.label{
	white-space: nowrap;
	background: #f2eede;
	text-align: center;
	position: absolute;
	color: #573e3a;
	text-transform: uppercase;
	font-weight: bold;
	padding: 3px 20px 1px 20px;
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
	display:inline;
	visibility:visible;
	-webkit-transform-origin: 50% 100%;
}
.point.highlighted{
	border-color:yellow;
}
.highlighted .label{
	visibility:visible;
}
